* {
 background-color: rgba(2, 17, 24, 0.575);
 color: rgb(255, 255, 255);
 text-align: center;
}

.main {
    margin: auto;
}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.introduction {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.description {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.ingredientlist li{
    margin-bottom: 15px;
    font-size: 18px;
}

.instructionlist li{
    margin-bottom: 15px;
    font-size: 18px;
}

.recipes {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.recipelist {
    margin: auto;
    width: 50%;
    padding :10px;
}

.recipelist li{
    margin-bottom: 15px;
    font-size: large;
    font-weight: bold;
    list-style: none;
}

.returnbuttoncontent {
    margin: 15px;
    font-size: 50px;
    padding: 5px;
}